<!DOCTYPE html>
<html ng-app="FBPhotoFetch">
  <head>
    <title>Facebook Photo Fetch</title>
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/angular-material/angular-material.min.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="./node_modules/angular-aria/angular-aria.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.min.css">
    <style>
      *:not(input) {
        -webkit-user-select: none;
        user-select: none;
      }
    </style>
  </head>
  <body ng-controller="AppCtrl">
    <md-tabs md-border-bottom md-dynamic-height>
      <md-tab label="Token">
        <md-content class="md-padding">
          <h3 class="md-display-5">Access Token</h3>
          <p>&nbsp;</p>
          <p>Click <a href="#" ng-click="openFB()">here</a> to get an access token and paste it blow</p>
          <p>&nbsp;</p>
          <md-input-container>
            <label>Access Token</label>
            <input type="text" ng-model="token" required>
          </md-input-container>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <div layout="row" layout-align="end">
            <md-button class="md-raised md-primary">Next</md-button>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Folder">
        <md-content class="md-padding">
          <h3 class="md-display-5">Welcome to Facebook Photo Fetch</h3>
          <p>Download all the photos you uploaded to Facebook plus photos you're tagged in with all the metadata and correct data/time</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p class="md-padding">Downloading to <b>{{dest}}</b>.</p>
          <p><a class="md-primary md-button md-default-theme" ng-click="">Change download folder</a></p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <div layout="row" layout-align="end">
            <md-button class="md-raised md-primary">Next</md-button>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="download">
        <md-content class="md-padding">
          <h3 class="md-display-5">Download</h3>
          <p></p>
          <md-checkbox ng-model="tagged" aria-label="Tagged">Download my tagged photos</md-checkbox>
          <p></p>
          <md-progress-linear md-mode="determinate" ng-value="30"></md-progress-linear>
        </md-content>
      </md-tab>
    </md-tabs>
   <script src="./app.js"></script>
  </body>
</html>